<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  </head>
  
  <body>
	<p>Zarejestruj się</p>
	<form>
	<div class="form-group row">
		<label for="inputEmail3" class="col-sm-2 col-form-label">Adres Email</label>
		<div class="col-sm-10">
			<input type="email" class="form-control" id="inputEmail" placeholder="Email">
		</div>
	</div>
	<div class="form-group row">
		<label for="inputPassword3" class="col-sm-2 col-form-label">Hasło</label>
		<div class="col-sm-10">
			<input type="password" class="form-control" id="inputPass" placeholder="Hasło">
		</div>
	</div>
	<div class="form-group row">
		<label for="inputCity3" class="col-sm-2 col-form-label">Miasto</label>
		<div class="col-sm-10">
			<input type="city" class="form-control" id="inputCity" placeholder="Miasto">
		</div>
	</div>
	<div class="form-group row">
		<label for="inputZip3" class="col-sm-2 col-form-label">Kod Pocztowy</label>
		<div class="col-sm-10">
			<input type="Zip" class="form-control" id="inputZip" placeholder="Kod pocztowy">
		</div>
	</div>
	<div class="form-group row">
		<label for="inputStreet3" class="col-sm-2 col-form-label">Ulica</label>
		<div class="col-sm-10">
			<input type="street" class="form-control" id="inputStreet" placeholder="Ulica">
		</div>
	</div>
	<div class="form-group row">
		<label for="inputText3" class="col-sm-2 col-form-label">Numer kontaktowy</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="inputNumber" placeholder="Numer Kontaktowy">
		</div>
	</div>
		<div class="form-group row">
		<label for="inputText3" class="col-sm-2 col-form-label">Pytanie resetujące hasło</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="inputQuestions" placeholder="Pytanie">
		</div>
	</div>
		<div class="form-group row">
		<label for="inputText3" class="col-sm-2 col-form-label">Odpowiedź na pytanie</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="inputAnswer" placeholder="Odpowiedź">
		</div>
	</div>

	<div class="form-group">
		<div class="form-check">
			<input class="form-check-input" type="checkbox" id="gridCheck">
			<label class="form-check-label" for="gridCheck">
				Jestem świadomy założenia konta oraz akceptuję regulamin
			</label>
		</div>
	</div>
	<p></p>
	KOD PATCHA DODAĆ!!! Bo spam
	<p></p>
		<button type="submit" class="btn btn-primary">Utwórz konto</button>
	</form>
 
	<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=avYH68YCxw_Tbuzxa-iqVHi7LzqQjPSw-bCePM8QygdgarsTEP1RgHpgQDoxXjg4oweljSna2NvbcCQeFf5pTbvqrWqdVOOmpe9bjCNSgugD2u1Abech8o-LxM-37N1NNJspllRHA4tKC6JM5dRCig" charset="UTF-8"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </body>
</html>